/*==============Halloween Store Stylesheet================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body{
    font-family: 'Open Sans';   
    width:800px;
    background-color:white;
    background-image:url("images/bats.gif");
    margin:auto;
    box-shadow: 10px 10px 5px black;
}
#content{
    margin: auto;
    border: 10px black;
}
#heading{
    background:linear-gradient(45deg,white,orange);
}
#pumpkin{
    float:left;
    height:150px;
    width:150px;
}
#title{
    text-indent:30px;
    font-size: 45px;
}
h2{
    
    text-indent:30px;
    font-size:30px;
}
#welcome::first-letter{
   font-size:300%; 
}
#welcome{
    font-size:40px;
}
h3{
    font-size:30px;
}
a{
    color:orange;
    font-weight:bold;
}
ul li {
    padding: 5px 0px;
}
a:hover{
    color:green;
}
footer{
    font-size:20px;
    text-align:center;
    background:linear-gradient(45deg,white,orange);
}
